{% extends "base.html" %}
{% block content %}
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
          <iframe width=50% height="315"
          src="https://www.youtube.com/embed/Fq8yNcv-E-E" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <iframe width=50% height="315"
          src="https://www.youtube.com/embed/C00uJ-kDs7A" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <iframe width=50% height="315"
          src="https://www.youtube.com/embed/gyiGTkadZHA" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <iframe width=50% height="315"
        src="https://www.youtube.com/embed/QTIWm135IjQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
        </div>
    </div>
</div>
{%endblock%}